
.hero{
    background-color: #0167B0;
    z-index: 5;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    
}

.stations{
    width: 176.12px;
    height: 76px;
    
    border: none;
    margin-top: 1px;
    border-radius:  20px 0px 0px 20px;
    background: #89C400;
    color: white;
    padding: 0px 10px 0px 20px;
}
.searchbtn{
    width: 56.12px;
    height: 76px;
    margin-left: -8px;
    background: white;
    border: none;
    border-radius: 0px 20px 20px 0px;


}
.searchbox{
    padding-left: 12px;
    width: 803.21px;
    height: 76px;
    border: none;
    background: #fff;
}
.search{
    padding: 20px;
    background: transparent;
}
.search option{
    background: #fff;
    color: #000;
    

}
.eclipse5{
    position: absolute;
    display: block;
    background: #9BDB08;
    width: 1214.6485595703125px;
    height: 1214.6485595703125px;
    top: -869.346435546875px;
    left: 853.364501953125px;
    border-radius: 50%;
    z-index: -1;
    
}
.eclipse1{
    display: block;
    background: #89C400;
    width: 1799.6328125px;
    height: 1809.890380859375px;
    top: -869.77294921875px;
    left: 669.54736328125px;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}
.eclipse4{
    width: 1095.6962890625px;
    height: 1095.6962890625px;
    top: -60px;
    left: -65.847900390625px;
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: -3;
    background: #194D79;

}