.div{
    display: flex;
    background: #ffffff;

}
.div p{
    background: #ffffff;
}
.div input{
    width: 264.7646179199219px;
    height: 49.68292236328125px;

    border-radius: 10px;
    background: #f5f5f5;
    border: none;
}
.div select{
    width: 264.7646179199219px;
    height: 49.68292236328125px;

    border-radius: 10px;
    background: #f5f5f5;
    border: none;
}

.span1 input{
    width: 570px;
    height: 49.68292236328125px;

    border-radius: 10px;
    background: #f5f5f5;
    border: none;
}
.span{
    display: flex;
    flex-direction:column;
    padding-left: 2rem;
    background: #ffffff;
}
.employeereg{
    width: calc( 1280px - 641px );
    height: 100%;
    margin-top: 2rem;
    background: #ffffff;
}
.empregbtn{
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
}
.empregbtn button{
    width: 127px;
    height: 117.6px;
    border-radius: 10px;
    border: 2px solid lightgray;
    background: #ffffff;
}
.empregbtn button:focus{
    border: 2px solid #194D79;
}
.empregbtn h1{
    font-family: Public Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #194D79;
    background: #ffffff;

}
.empregbtn h2 , .empregbtn p , .empregbtn b{
    color: #194D79;
    background: #ffffff;
    border-radius: 9px;
}
.regcheck input[type='checkbox']:checked {
    background: #a77e2d !important;
    color: #ffffff !important;
  }